
    <h2>嗨嗨嗨嗨 <%= session[:hi9527] %></h2>
 
    <br>
    <br>
    <form action="login" method="post">
        <label for="username">帳號</label>
        <input type="text" name="username" id="username">
        <label for="password">密碼</label>
        <input type="password" name="password" id="password">
        <input type="submit" value="送出">
    </form>

    <a href="logout">登出</a>